
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px auto;
    background-color: #f4f4f4;
}


h1 {
    color: #333;
}

label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}

select {
    margin: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media (max-width: 600px) {
    select {
        width: 80%;
    }
}